.container {
  margin: 0 5%;
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid #DDD;
}

.evento-info {
  display: flex;
  align-items: center;
  gap: 25px;
}

.evento-texto {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.evento-datas {
  display: flex;
  gap: 30px;
}

.evento-datas div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grafico {
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.esquerdo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.esquerdo h1{
  font-weight: bold;
  font-size: 26px;
  gap: 15px;
}

.bem-vindo {
  display: flex;
  width: 100%;
  justify-content: end;
}


.direito h1 {
  font-weight: bold;
  font-size: 26px;
}

.direito {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vendas {
  display: flex;
  width: 85%;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.vendas h2, .categoria h2, .monitoramento h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.categoria{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.monitoramento{
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: #d9d9d9;
  flex-direction: column;
  gap: 5px;
}

.monitoramento p {
  margin-left: 10px;
}

@media (min-width: 360px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 100px;
    padding: 0 0rem;
  }
  
  .esquerdo, .direito {
    width: 100%;
  }

}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 25px;
    margin-bottom: 0;
    padding: 0 2rem;
  }

  .esquerdo {
    width: 70%;
  }

  .direito {
    width: 30%;
  }

  .card-informacoes{
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

}